<footer class="bg-black ph3 pv5 white">

	<div class="mw7 center">

		<div class="tc mb5">
			<img src="/img/logo-cameratamusicalecittadiarco.jpeg" alt="Camerata Musicale Città di Arco" class="db w3 center mb3 br2 shadow-1">
			<h3 class="f4 serif white tracked">Camerata Musicale Città di Arco</h3>
		</div>

		<div class="flex-ns justify-between">

			<div class="mb4 mb0-ns">
				<h3 class="f5 serif white lh-title mb3 bb b--gray pb2">Navigazione</h3>
				<ul class="list ma0 pa0">
					<li class="mb2"><a href="/" class="f6 no-underline light-gray dim">Home</a></li>
					<li class="mb2"><a href="/biografia" class="f6 no-underline light-gray dim">L'orchestra</a></li>
					<li class="mb2"><a href="/artisti" class="f6 no-underline light-gray dim">Artisti</a></li>
					<li class="mb2"><a href="/post" class="f6 no-underline light-gray dim">News</a></li>
					<li class="mb2"><a href="/contact" class="f6 no-underline light-gray dim">Contatti</a></li>
				</ul>
			</div>

			<!-- Ultimi Post -->
			<div class="mb4 mb0-ns">
				<h3 class="f5 serif white lh-title mb3 bb b--gray pb2">News</h3>
				<ul class="list ma0 pa0">
					{{ range first 3 (where .Site.RegularPages "Type" "post") }}
						<li class="mb2"><a href="{{ .Permalink }}" class="f6 no-underline light-gray dim">{{ .Title }}</a></li>
					{{ end }}
						<li class="mb2">...</li>
						<li class="mb2"><a href="/post" class="f6 no-underline light-gray dim">Vedi tutte</a></li>
				</ul>
			</div>

			<div class="mb4 mb0-ns">
				<h3 class="f5 serif white lh-title mb3 bb b--gray pb2">Seguici</h3>
				<div class="flex">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/cameratamusicale" "svg" "icons-facebook" "alt" "Camerata Musicale on Facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/cameratamusicale" "svg" "icons-instagram" "alt" "Camerata Musicale on Instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/@cameratamusicale" "svg" "icons-youtube" "alt" "Camerata Musicale on YouTube") }}
					{{ partial "social-icon" (dict "link" "mailto:info@cameratamusicale.it" "svg" "icons-mail" "alt" "Camerata Musicale mail") }}
				</div>
			</div>

		</div>
		
		<div class="bt b--gray pt4 mt5 tc">
			<p class="f6 light-gray">&copy; {{ now.Format "2006" }} Camerata Musicale Città di Arco. Tutti i diritti riservati.</p>
		</div>
	</div>

</footer>

